// Navigation Styles here

.navBar{
    width: 100%;
    display: flex;
    
    border-bottom: @navigation-border 2px dashed;
    
    nav{
        width: 42%;
        margin: auto;
        padding: 1% 0;
        display: flex;
        
        .fun-bus-logo{
            display: flex;
            justify-content: flex-start;
            width: 56%;
                      
            font-family: Indie Flower;
            h1{
                color: @font-color;
                font-size: 4rem;
            }
        }
        .navLinks{
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            width: 42%;
            a{
                color: @font-color;
                font-size: 1.6rem;
                text-decoration: none;
            }
            a:visited{
                color:@font-color;
            }
        }
        
    }
    
}