// Navigation Styles here

.navBar{
    width: 100%;
    border-bottom: @navigation-border 2px dashed;
   
    nav{
        
        width: 42%;
        margin: auto;
        padding: 1% 0;
        display: flex;
        @media @mobile{
            display:flex;
            flex-direction: column;
            width: 100%;
        }
        .fun-bus-logo{
            display: flex;
            justify-content: flex-start;
            width: 56%;
            
            font-family: Indie Flower;
            @media @mobile{
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 2%;
            }
                
            h1{
                color: @font-color;
                font-size: 4rem;
                @media @mobile{
                    font-size: 3rem;
                }
            }
        }
        .navLinks{
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            width: 42%;
            @media @mobile{
                
                padding: 2%;
                width: 100%;
            }
            a{
                color: @font-color;
                font-size: 1.6rem;
                text-decoration: none;
            }
            a:visited{
                color:@font-color;
            }
        }
        
    }
    
}